<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miniproject.mappers.memberMapper">
	<update id="updateUserPoint">
	update member set userPoint = userPoint + (select pointScore from pointdef where pointWhy = '글작성') where userId = #{userId}
	
	</update> 
	<update id="updateUserPointComment">
	update member set userPoint = userPoint + (select pointScore from pointdef where pointWhy = '댓글작성') where userId = #{userId}
	
	</update> 
	
	<select id="selectUserId" resultType= "int">
		select count(*) from member where userId = #{tmpUserId}
	</select>
	
<!-- 	회원가입 쿼리문 -->
	<insert id="insertMember">
		insert into member
		<choose>
			<when test="userImg != null">
			(userId, userPwd, userName, gender, mobile, email, hobby, userImg)
			values(#{userId}, sha1(md5(#{userPwd})), #{userName}, #{gender}, #{mobile}, #{email}, #{hobby}, #{userImg})
			</when>
			<when test="userImg == null">
			(userId, userPwd, userName, gender, mobile, email, hobby)
			values(#{userId}, sha1(md5(#{userPwd})), #{userName}, #{gender}, #{mobile}, #{email}, #{hobby})
			
			</when>
		</choose>
	</insert>
	
	<!-- 	로그인  -->
	<select id="loginWithLoginDTO" resultType="MemberDTO">
	select * from member where userId = #{userId} and userPwd = sha1(md5(#{userPwd}))
	</select>

	<!-- 자동 로그인 정보 저장 -->
	<update id="updateAutoLoginInfo">
		update member set sesid = #{sesId}, allimit = #{allimit} 
		where userId = #{userId}
	</update>
	
<!-- 	자동 로그인 유저 확인 쿼리문 -->
	<select id="checkAutoLoginUser" resultType="MemberDTO">
		select * from member where sesid = #{sesId} and allimit > now()
	</select>
	
<!-- 	유저의 계정을 잠그는 쿼리문 -->
	<update id="updateAccountLock">
		update member set isLock = 'Y' where userId = #{userId}
	</update>
</mapper> 